/* CSS Styles */

body,
html {
  height: 100vh;
  background-image: url("./images/bg2.svg"), linear-gradient(grey, grey);
  background-size: 200vw auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

audio {
  width: 80%;
  font-size: 0.5rem;
}

.relative {
  position: relative;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(36, 36, 36, 0.863);
}

.card-color {
  background: rgba(240, 240, 240, 0.75);
}
